//
//  Modal Styling (Bootstrap Overrides)
//

.modal {

  &.non-video {
    .modal-dialog {
      @include transform(translate(24%, 12%));

      @include tablet {
        @include transform(translate(12%, 12%));
      }

      @include desk {
        @include transform(translate(0, 0));
      }
    }
  }

  // After transition
  &.in {
    .modal-dialog {
      @include transform(translate(0, 7%));
    }

    &.non-video {
      .modal-dialog {
        @include transform(translate(0, 12%));

        @include tablet {
          @include transform(translate(0, 6%));
        }

        @include desk {
          @include transform(translate(0, 12%));
        }
      }
    }
  }
}

.modal-backdrop {
  background-color: #000;

  &.in {
    opacity: .9;
  }
}

.modal-content {
  background: none;
  border: none;
  box-shadow: none;
}

.modal-header {
  border: none;
  min-height: 0;
  padding: 0;
  position: absolute;
  right: -18px;
  top: -15px;
  z-index: 10;

  button {
    @include close-btn;
  }

  .close {
    position: relative;
    top: -40px;

    @include tablet {
      position: static;
    }
  }
}

#songModal {
  .modal-header {
    right: -10%;
    top: -7%;
  }
}

.modal-dialog {
  width: 72%;
}

#myModal {
  .modal-dialog {
    margin: 0 auto;
    text-align: center;
    width: 78%;

    @include tablet {
      margin: 10px auto;
      text-align: left;
      width: 72%;
    }
  }
  .modal-body {
    overflow: hidden;
    padding:0;

    > div {
      @include desk {
        float: left;
        width: 48%;
      }

      &:first-child {
        margin-bottom: 40px;
        
        @include desk {
          border-right:1px solid #444243;
          margin-bottom: 0;
          margin-right: 3%;
        }
      }
    }

    h2 {
      color: $red;
      font-size: 48px;
    }

    input[type="text"], input[type="password"], input[type="email"], input[type="password"] {
      background-color: rgba(45,45,45,.4);
      color: $light;
      padding: 4% 5%;
      width: 93%;

      &:focus {
        background-color:$light;
        color: #4a4647;

        @include placeholder {
          color: #575454;
        }
      }

      @include placeholder {
        color: #575454;
      }
    }

    input[type="checkbox"] + label {
    	color: #fff;
    }

    input[type="submit"] {
      color: $light;

      &:hover {
        border-color:$red;
      }
    }

    small {
      display: none;
    }

    .password-suggestions {
    	display: none !important;
    }
  }
}

.modal-message {
  background-color: #fff;
  margin: 0 auto 20px;
  padding: 20px;
  width: 92%;

  @include tablet {
  	margin: 0 0 20px;
  }
}

// Better Messages module
#better-messages-wrapper {
	max-width:270px;

	@include tablet {
  	max-width: none;
  }
}

#better-messages-default {

  .close {
  	@include close-btn;
  	background-color:$red;
  	color: #fff;
  	position: absolute;
    right: -18px;
    top: -17px;

    &:hover {
    	background-color:tint($red, 20%);
    	color: #fff;
    }
  }

  .messages-label {
  	background-color: rgba(0, 0, 0, 0.78);
  	font-size: 14px;
  	margin: 0;
  	padding:10px;

  	&.error {
  		background-color:tint($red, 30%);
  	}
  }

  div.messages {
  	background: $light;
  	border:none;
  	margin: 0;
  	padding: 19px 13px 30px;
  }

  .footer {
  	border:none;
  }

  a.message-close {
  	height: 0;
  }
}
