// Colors
$base: #1a1717;
$gray:#322e2f;
$lt-gray:#7c7a7a;
$light:#ecf0f1;
$red:#e44345;
$blue:#288899;

// Fonts
$font:'Titillium Web', sans-serif;
$header:'Ropa Sans', sans-serif;

// Common Mixins
@mixin sprite($pos) {
  background: url(../img/sprite.png) no-repeat scroll 0 0;
  background-position: $pos;
  display: block;
  height: 0;
  overflow: hidden;
}

@mixin border-btm {
  &:after {
    background-color: $red;
    bottom: 0;
    content: " ";
    display: block;
    height: 4px;
    left: 50%;
    margin-left: -17px;
    position: absolute;
    width: 34px;
  }
}
