//
//  Song Node
//

// General
.node-type-song {
  .hero {
    position: relative;

    h2 {
      span {
        font-size: 13px;
        text-transform: lowercase;
      }
    }
  }

  .bread {
    color: $base;
    display: none;
    height: 13px;
    left: 0;
    padding-left: 27px;
    position: absolute;
    top: 164px;
    width: 146px;

    @include desk {
      display: block;
    }

    &:hover {
      color: $red;
    }
  }

  .page {
    margin-top: 0;
    max-width:none;
  }

  .tabs, .drupal-messages {
    @include outer-container;
  }
}

.node-song {

  @include outer-container;

  h2 {
    border-bottom:2px solid;
    font-size: 24px;
    padding-bottom: 8px;
    text-transform: uppercase;
    width:215px;
  }
}

// Videos
.node-song .view-display-id-entity_view_1 {
  @include clearfix;
  margin-bottom: 80px;

  .view-header {
    margin-bottom: 20px;

    @include tablet {
      float: left;
      margin-bottom: 0;
      margin-right: 2%;
      width: 49%;
    }

     & + div {
      margin-bottom: 25px;

      @include tablet {
        float: left;
        width: 49%;
      }

      .vid-description {
        top:39%;
      }

      & + div {

        @include tablet {
          float: left;
          width: 49%;
        }
      }
    }
  }
}

.video {
  position: relative;

  .vid-description {
    background-color: $red;
    color: #fff;
    left: 0;
    padding: .8% 2% 1%;
    position: absolute;
    top: 46%;
  }

  img {
    display: block;
  }

  a {
    background: rgba(0,0,0,.6);
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 100%;

    &:hover {
      background: rgba(0,0,0,.3);
    }

    &:after {
      @include sprite(0 -27px);
      content: " ";
      left: 50%;
      margin-left: -23px;
      padding-top: 46px;
      position: absolute;
      top: 40%;
      width: 46px;
    }
  }
}

// Lyrics
.node-song {
  .group-left, .group-right {
    @include tablet {
      float: left;
      width: 49%;
    }
  }
  .group-left {
    @include tablet {
      margin-left: 2%;
    }
    .field-type-text-long {
      font: em(14) 'Roboto Mono', monospace;
      line-height: 1.5em;
      white-space: pre;
    }
  }
  .group-right {
    margin-top: 50px;

    @include tablet {
      margin-top: 0;
    }
  }
}

// Spotify/MP3
.node-song {
  .group-song {
    @include clearfix;
    background-color: $light;
    margin-bottom: 70px;
    padding: 3%;

    iframe, .field-type-file {
      float: left;
      margin-right: 2%;
      position: relative;
      width: 77%;

      @include tablet {
        width: 83%;
      }

      @include desk {
        width: 87%;
      }
    }
  }
}

// Audio JS Overrides
.audiojs-default {
  .audiojs {
    height: 75px;
    width: auto;

    .play-pause {
      width: 36px;
    }

    .scrubber {
      width: 87%;
    }

    .time {
      border: none;
      clear: both;
    }
  }
}

.audiojs-label {
  bottom: 6px;
  color: #fff;
  font-size: 12px;
  position: absolute;
  right: 10px;
}

#spotify-add {
  color: $base;
  float: right;
  font-size: em(12);
  line-height: 1.4em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 17%;

  @include tablet {
    width: 13%;
  }

  @include desk {
    width: 9%;
  }

  span {
    border: 1px solid $base;
    display: block;
    font-size: 30px;
    line-height: 1em;
    margin-bottom: 5px;
    padding: 3px 0 8px;
  }

  &:hover {
    span {
      background-color: $red;
      border-color:$red;
      color: #fff;
    }
  }
}

// Categories
.node-song {
  .view-display-id-entity_view_3 {
    margin-bottom: 70px;

    .key-tempo {
      span {
        background-color: $light;
        border-bottom:2px solid $base;
        border-right:2px solid $base;
        display: block;
        float: left;
        font-size: em(32);
        padding:2% 0 5%;
        text-align: center;
        text-transform: uppercase;
        width: 43%;

        @include tablet {
          width: 39%;
        }

        @include desk {
          width: 32%;
        }

        & + span {
          border-right:none;
          width: 57%;

          @include tablet {
            width: 61%;
          }

          @include desk {
            width: 68%;
          }
        }

        h4 {
          font-size: 13px;
        }
      }
    }

    .theme, .song-info {
      clear: both;
      padding: 5%;

      @include tablet {
        padding: 5% 9%;
      }

      div {
        display: table;
        margin: 10px 0;
        width: 100%;

        span {
          display: table-cell;
          font-size: 12px;
          text-transform: uppercase;
          width: 37%;

          @include tablet {
              width: 133px;
          }
        }
      }
    }

    .song-info {
      background-color: #3d3738;
      color: $light;

      div {
        font-size: 13px;
        margin: 2px 0;

        span {
          font-size:12px;
        }
      }
    }
  }
}

// Purchase Links
.node-song {
  .field-type-link-field {
    margin: 4% 4% 0 0;

    @include desk {
      float: left;
      width: 46%;
    }

    a {
      width: 100%;
    }
  }
}

// Smart Filter
.smart-filter {
  margin-bottom: 20px;
  ul, li {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    margin: 20px 0;
  }
  
  h3 {
    margin-bottom: 5px;
  }

  .field-type-text + .field-type-text {
    font-size: 14px;
    font-style: italic;

    span {
      font-size: 12px;
      text-transform: lowercase;
    }
  }

  span, .field-type-taxonomy-term-reference {
    display: inline;
    font-size: 12px;
    line-height: 1em;
    text-transform: uppercase;
  }
}

// Spotify Callback Page
.page-spotify-callback {
  background-color: #333;
  color: #fff;
  overflow: hidden;
  border: 0;
  margin: 0;
  padding: 0;

  .btn:hover {
    border-color:$red;
  }
}

.site-wrapper {
  margin: 0 auto;
  padding: 150px 0;
}

