//
//  Footer
//

footer {
  background-color: $gray;
  color: $light;
  padding: 5% 4% 3%;

  @include desk {
    padding:5% 0 3%;
  }

  .outer-container {
    // Who We Are
    & > div:first-child {
      @include tablet {
        float: left;
        margin-right: 7%;
        width: 49%;
      }

      @include desk {
        width: 66%;
      }
    }
  }
}

footer {
  h2 {
    @include border-btm;

    &:after {
      margin: 1.5% 0 4%;
      position: static;
      width: 200px;
    }
  }
}

footer {
  nav {
    margin-top:50px;

    @include tablet {
      float: left;
      width: 44%;
    }

    @include desk {
      margin-top: 0;
      width: 27%;
    }

    > ul, > ul li {
      margin: 0;
      padding:0;
    }

    > ul {
      li {
        display: block;
        float: left;
        list-style: none;
        text-align: center;

        &:first-child {
          float: none;

          a {
            background-size: 30px;
            background-position: 127px 27px;
            border-bottom-color:transparent;
            border-left-color:#4a4647;
            float: none;
            height: 113px;
            text-decoration: none;
            width: 289px;
          }

          & + li a {
            border-left-color:#4a4647;
          }
        }
      }

      .icon {
        background-position: 16px 16px;
        background-size: 23px;
        border:1px solid #4a4647;
        border-left-color:transparent;
        color: $light;
        display: block;
        float: left;
        font-size: 12px;
        height: 0;
        overflow: hidden;
        padding-top:58px;
        text-transform: uppercase;
        width: 58px;

        &:hover {
          background-color:$red;
          color: #fff;
        }
      }

      .icon-icons_yt {
        background-position: 15px 20px;
      }

      .icon-icons_fbook {
        background-position:22px 17px;
        background-size: 11px;
      }

      .icon-icons_twitter {
        background-position:17px 19px;
        background-size: 22px;
      }

      .icon-icons_insta {
        background-size: 20px;
      }
    }
  }
}

.footer-btm {
  clear: both;
  color: #7c7a7a;
  font-size: 12px;
  padding-top: 80px;

  span {
    display: block;

    @include tablet {
      float: left;
    }

    & + span {
      @include tablet {
        float: right;
      }
    }
  }

  a {
    color: #7c7a7a;
    margin-right: 20px;

    @include tablet {
      margin-left: 20px;
      margin-right: 0;
    }

    &:hover {
      color: #fff;
    }
  }
}
