//
//  Pre-Footer
//

.pre-footer {
  background-color: $light;
  padding: 30px 0;
  text-align: center;

  @include desk {
    padding:4% 0;
  }

  .icon-btn, .addtoany_share_save {
    @include icon-btn;

    span.a2a_img {
      display: none;
    }
  }
}

.share-link {
  position: relative;
  margin: 0 auto;
  width: 308px;

  .icon {
    position: absolute;
    top: 11px;
    left: 14px;
  }

  .addtoany_share_save {
    min-width: 306px;
  }
}