//
//  Pre-Footer
//

.pre-footer {
  background-color: $light;
  padding: 30px 0;
  text-align: center;

  @include desk {
    padding:4% 0;
  }

  .icon-btn {
    @include icon-btn;

    &.icon-icons_insights {
      background-position: 13px 12px;
      background-size: 17px;
    }

    span.a2a_img {
      display: none;
    }
  }
}