@charset "UTF-8";
/*
 * This file should only comprise of @imports.
 * Place all styles in appropriately named files.
 * See the ToC in _application.scss
 */
/* Bourbon & Neat
 * -----------------------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Base
 * -----------------------------------------------------------------------------*/
.sidebar .block {
  clear: both;
  margin-bottom: 20px; }

img, object, video {
  height: auto;
  max-width: 100%; }

html, body {
  font-size: 100%; }

body {
  color: #1a1717;
  font-family: "Titillium Web", sans-serif;
  line-height: 1.5em; }

a {
  color: #e44345; }
  a:hover {
    color: #322e2f;
    text-decoration: none; }

.page p {
  margin-bottom: 3em; }

h1, h2, h3, h4, h5, h6 {
  font: 1em "Ropa Sans", sans-serif; }

h1 {
  font-size: 3.75em;
  line-height: 1.1471em;
  margin: 0 0 0.3824em;
  text-transform: uppercase; }

h2 {
  font-size: 1.5em;
  line-height: 1.2381em;
  margin: 0 0 0.619em;
  text-transform: uppercase; }

h3 {
  color: #e44345;
  font-size: 1.25em;
  line-height: 1em;
  margin: 0 0 1em; }

.page blockquote, blockquote {
  clear: both;
  float: left;
  position: relative;
  padding: 0 0 0 1%;
  margin: 1% 6% 3% 0;
  width: 45%; }
  .page blockquote p, blockquote p {
    font-size: 1.4em;
    margin: 0; }

.field-name-field-lyrics-chords {
  white-space: pre; }

.btn, button {
  background-color: transparent;
  border: 2px solid #d7d5d5;
  color: #524b4c;
  display: inline-block;
  font-size: 0.875em;
  min-width: 200px;
  padding: 11px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .btn:hover, button:hover {
    background-color: #e44345;
    border-color: #e44345;
    color: #fff;
    text-decoration: none; }

.white-btn {
  background-color: transparent;
  border: 2px solid #d7d5d5;
  color: #524b4c;
  display: inline-block;
  font-size: 0.875em;
  min-width: 200px;
  padding: 11px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #fff;
  color: #fff; }
  .white-btn:hover {
    background-color: #e44345;
    border-color: #e44345;
    color: #fff;
    text-decoration: none; }

.icon-btn {
  background-color: transparent;
  border: 2px solid #d7d5d5;
  color: #524b4c;
  display: inline-block;
  font-size: 0.875em;
  min-width: 200px;
  padding: 11px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-color: #524b4c;
  padding: 0 15px 0 0;
  min-width: 0; }
  .icon-btn:hover {
    background-color: #e44345;
    border-color: #e44345;
    color: #fff;
    text-decoration: none; }
  .icon-btn:before {
    border-right: 2px solid #524b4c;
    content: "s";
    display: inline-block;
    margin-right: 15px;
    padding: 11px 20px; }
  .icon-btn:hover {
    background-color: transparent; }
    .icon-btn:hover:before {
      background-color: #e44345;
      text-decoration: none; }

.icon {
  display: block;
  height: 24px;
  width: 24px; }

form small, form .description {
  color: #5f5f5f; }

label, label.required {
  display: block;
  font-weight: 700; }

label.required:after {
  content: "*";
  color: #c41230;
  margin-left: 3px; }

input[type="text"], input[type="password"], input[type="email"] {
  background-color: #ecf0f1;
  border: none;
  color: #1a1717;
  font: 1.75em "Ropa Sans", sans-serif;
  margin: 10px 0;
  padding: 2% 3%;
  text-transform: uppercase; }
  input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder {
    color: #b9babb; }
  input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="email"]::-moz-placeholder {
    color: #b9babb; }
  input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="email"]:-moz-placeholder {
    color: #b9babb; }
  input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder {
    color: #b9babb; }

textarea {
  border: none;
  border-radius: 5px 5px 0 0;
  padding: 9px; }

input[type="submit"] {
  background-color: transparent;
  border: 2px solid #d7d5d5;
  color: #524b4c;
  display: inline-block;
  font-size: 0.875em;
  min-width: 200px;
  padding: 11px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  margin-top: 10px; }
  input[type="submit"]:hover {
    background-color: #e44345;
    border-color: #e44345;
    color: #fff;
    text-decoration: none; }

#edit-field-tempo-tid-wrapper {
  border-right: 2px solid #ecf0f1;
  padding-right: 20px;
  margin-right: 20px; }

.chosen-container .chosen-single, .chosen-container.chosen-with-drop .chosen-single {
  background: #ecf0f1;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-size: 0.75em;
  height: auto;
  padding: 14px 16px;
  text-transform: uppercase; }
  .chosen-container .chosen-single div, .chosen-container.chosen-with-drop .chosen-single div {
    right: 3px;
    top: 13px;
    width: 16px; }
.chosen-container.chosen-with-drop .chosen-single {
  font-weight: bold; }
.chosen-container .chosen-drop {
  border: none;
  background: #ecf0f1;
  box-shadow: 0; }

.chosen-search input {
  text-transform: none; }

/* Tables */
table {
  width: 100%; }

table, thead, td, tr, th {
  border: none; }

tr {
  border-bottom: 1px solid #ccc; }

td, th {
  padding: 7px 20px; }

.view-content ul, .view-content ol {
  margin: 0;
  padding: 0; }

.item-list ul li.views-row, .views-row {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative; }

ul.primary {
  margin-left: 0;
  padding-left: 1%; }
  ul.primary li {
    display: inline-block;
    margin: 0;
    padding: 0; }
    ul.primary li a {
      background-color: #ecf0f1;
      border-bottom: 1px solid #ecf0f1;
      border-radius: 3px 3px 0 0;
      color: #1a1717;
      display: inline-block;
      font-size: .8em;
      padding: 5px 10px; }

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 23%);
  -moz-transform: translate(0, 23%);
  -ms-transform: translate(0, 23%);
  -o-transform: translate(0, 23%);
  transform: translate(0, 23%); }

.modal-backdrop {
  background-color: rgba(255, 255, 255, 0.9); }

.modal-content {
  background: none;
  border: none;
  box-shadow: none; }

.modal-header {
  border: none;
  min-height: 0;
  padding: 0;
  position: absolute;
  right: -18px;
  top: -15px;
  z-index: 10; }
  .modal-header button {
    background-color: #e44345;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-size: 33px;
    line-height: 1em;
    padding: 0 9px 4px;
    min-width: 0; }
    .modal-header button:hover {
      background-color: #fff;
      color: #e44345; }
    .modal-header button:before {
      display: none; }

.modal-body {
  padding: 0; }

/* Application Template
 * -----------------------------------------------------------------------------
 * Styling for the structure of the site. If your element doesn't show up on
 * every page, it probably shouldn't be in this file.
 * -----------------------------------------------------------------------------*/
/* Things to place in separate files...
 * ---------------------------------------------------------------------------
 * /extends/            => Sass extends declarations
 * /mixins/             => Sass mixins declarations
 * _buttons.scss
 * _fonts.scss          => Font imports
 * _forms.scss
 * _lists.scss
 * _library.scss        => Custom classes used throughout the app.
 * _tables.scss
 * _typography.scss
 * _utilities.scss
 * _variables.scss
 * _component_name.scss => Styles for a component of functionality (e.g. – modal).
 * _page_name.scss      => Styles for page specific elements.
 * ---------------------------------------------------------------------------
 */
.outer-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .outer-container:after {
    content: "";
    display: table;
    clear: both; }

.page {
  margin-bottom: 70px;
  margin-top: 30px; }

.bread {
  float: left;
  font: 0.75em "Ropa Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase; }

/* Components
 * -----------------------------------------------------------------------------*/
header {
  background-color: rgba(48, 46, 46, 0.9);
  height: auto;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; }
  header h1 {
    line-height: 1em;
    margin: 29px 25px; }
    @media screen and (min-width: 768px) {
      header h1 {
        float: left; } }
    header h1 a {
      background: url(../img/sprite.png) no-repeat scroll 0 0;
      background-position: 0 0;
      display: block;
      height: 0;
      overflow: hidden;
      padding-top: 27px;
      width: 369px; }

body.admin-menu header {
  top: 29px; }

@media screen and (min-width: 768px) {
  header nav {
    float: right; } }
header nav ul, header nav li {
  margin: 0;
  padding: 0; }
header nav li {
  display: inline-block;
  list-style: none; }
header nav a {
  color: #b5b5b6;
  display: inline-block;
  padding: 31px 14px;
  text-decoration: none; }
  header nav a.active, header nav a:hover {
    position: relative;
    color: #fff; }
    header nav a.active:after, header nav a:hover:after {
      background-color: #e44345;
      bottom: 0;
      content: " ";
      display: block;
      height: 4px;
      left: 50%;
      margin-left: -17px;
      position: absolute;
      width: 34px; }
header nav .login a {
  color: #288899;
  font-size: 12px;
  line-height: 1.4em;
  padding: 0 14px;
  position: relative;
  top: 9px;
  width: 87px; }
  header nav .login a:hover {
    color: #fff; }
    header nav .login a:hover:after {
      display: none; }
header nav .login.active-trail a {
  color: #288899; }
  header nav .login.active-trail a:hover {
    color: #fff; }
  header nav .login.active-trail a:after {
    display: none; }

.hero {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 12% 0 4%;
  text-align: center; }
  .hero:after {
    content: "";
    display: table;
    clear: both; }
  .hero.with-img {
    max-width: none;
    padding: 14% 0 6%; }
  .hero h1 {
    margin: 0 auto;
    width: 74%; }
  .hero h2 {
    font: 1em "Titillium Web", sans-serif; }
  .hero .btns {
    margin-top: 33px;
    padding: 39px;
    position: relative; }
    .hero .btns:before {
      background-color: #e44345;
      content: " ";
      display: block;
      height: 4px;
      left: 50%;
      margin-left: -90px;
      position: absolute;
      top: 0;
      width: 180px; }
    .hero .btns a {
      margin: 0 15px; }

.pre-footer {
  background-color: #ecf0f1;
  padding: 4% 0;
  text-align: center; }
  .pre-footer a {
    background-color: transparent;
    border: 2px solid #d7d5d5;
    color: #524b4c;
    display: inline-block;
    font-size: 0.875em;
    min-width: 200px;
    padding: 11px 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-color: #524b4c;
    padding: 0 15px 0 0;
    min-width: 0;
    padding: 0 103px 0 0;
    position: relative;
    left: 10px; }
    .pre-footer a:hover {
      background-color: #e44345;
      border-color: #e44345;
      color: #fff;
      text-decoration: none; }
    .pre-footer a:before {
      border-right: 2px solid #524b4c;
      content: "s";
      display: inline-block;
      margin-right: 15px;
      padding: 11px 20px; }
    .pre-footer a:hover {
      background-color: transparent; }
      .pre-footer a:hover:before {
        background-color: #e44345;
        text-decoration: none; }
    .pre-footer a:before {
      margin-right: 103px; }
    .pre-footer a span.a2a_img {
      display: none; }

footer {
  background-color: #322e2f;
  color: #ecf0f1;
  padding: 5% 0 3%; }
  @media screen and (min-width: 768px) {
    footer .outer-container div:first-child {
      float: left;
      margin-right: 7%;
      width: 66%; } }

footer h2 {
  position: relative; }
  footer h2:after {
    background-color: #e44345;
    bottom: 0;
    content: " ";
    display: block;
    height: 4px;
    left: 50%;
    margin-left: -17px;
    position: absolute;
    width: 34px; }
  footer h2:after {
    margin: 1.5% 0 4%;
    position: static;
    width: 200px; }

@media screen and (min-width: 768px) {
  footer nav {
    float: left;
    width: 27%; } }
footer nav ul, footer nav li {
  margin: 0;
  padding: 0; }
footer nav a {
  border: 1px solid #4a4647;
  border-left-color: transparent;
  color: #ecf0f1;
  display: block;
  float: left;
  font-size: 12px;
  height: 0;
  overflow: hidden;
  padding-top: 58px;
  text-transform: uppercase;
  width: 58px; }
  footer nav a:hover {
    background-color: #e44345;
    color: #fff; }
footer nav li {
  display: block;
  float: left;
  list-style: none;
  text-align: center; }
  footer nav li:first-child {
    float: none; }
    footer nav li:first-child a {
      border-bottom-color: transparent;
      border-left-color: #4a4647;
      float: none;
      height: 134px;
      width: 289px; }
    footer nav li:first-child + li a {
      border-left-color: #4a4647; }

.footer-btm {
  clear: both;
  color: #7c7a7a;
  font-size: 12px;
  padding-top: 80px; }
  .footer-btm span {
    float: left; }
    .footer-btm span + span {
      float: right; }
  .footer-btm a {
    color: #7c7a7a;
    margin-left: 20px; }
    .footer-btm a:hover {
      color: #fff; }

/* Pages
 * -----------------------------------------------------------------------------*/
.front .hero {
  max-width: none;
  padding: 0; }
  .front .hero:after {
    content: "";
    display: table;
    clear: both; }
  .front .hero h1 {
    display: none; }
  .front .hero h3 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .front .hero h2 {
    color: #e44345;
    font-size: 42px;
    margin-bottom: 0;
    text-transform: uppercase; }
  .front .hero h4 {
    color: #ecf0f1;
    font: 13px "Titillium Web", sans-serif;
    font-style: italic;
    margin: 0 0 30px; }
.front .feature {
  float: left;
  position: relative;
  width: 50%; }
.front .file-image {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 0; }
.front .group-info {
  padding: 59% 11% 9%;
  position: relative;
  text-align: left;
  z-index: 1; }

.node-type-song .hero {
  position: relative; }
.node-type-song .bread {
  left: 0;
  position: absolute;
  top: 164px; }
.node-type-song .page {
  max-width: none; }
.node-type-song .tabs, .node-type-song .drupal-messages {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .node-type-song .tabs:after, .node-type-song .drupal-messages:after {
    content: "";
    display: table;
    clear: both; }

.node-song {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .node-song:after {
    content: "";
    display: table;
    clear: both; }
  .node-song h2 {
    border-bottom: 2px solid;
    font-size: 24px;
    padding-bottom: 8px;
    text-transform: uppercase;
    width: 215px; }

.node-song .view-display-id-entity_view_1 {
  margin-bottom: 80px; }
  .node-song .view-display-id-entity_view_1:after {
    content: "";
    display: table;
    clear: both; }
  .node-song .view-display-id-entity_view_1 .view-header {
    margin-bottom: 20px; }
    @media screen and (min-width: 768px) {
      .node-song .view-display-id-entity_view_1 .view-header {
        float: left;
        margin-bottom: 0;
        margin-right: 2%;
        width: 49%; } }
    .node-song .view-display-id-entity_view_1 .view-header + div {
      margin-bottom: 25px; }
      @media screen and (min-width: 768px) {
        .node-song .view-display-id-entity_view_1 .view-header + div {
          float: left;
          width: 49%; } }
      .node-song .view-display-id-entity_view_1 .view-header + div .vid-description {
        top: 39%; }
      @media screen and (min-width: 768px) {
        .node-song .view-display-id-entity_view_1 .view-header + div + div {
          float: left;
          width: 49%; } }

.video {
  position: relative; }
  .video .vid-description {
    background-color: #e44345;
    color: #fff;
    left: 0;
    padding: .8% 2% 1%;
    position: absolute;
    top: 46%; }
  .video img {
    display: block; }
  .video a {
    background: rgba(0, 0, 0, 0.6);
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 100%; }
    .video a:hover {
      background: rgba(0, 0, 0, 0.3); }
    .video a:after {
      background: url(../img/sprite.png) no-repeat scroll 0 0;
      background-position: 0 -27px;
      display: block;
      height: 0;
      overflow: hidden;
      content: " ";
      left: 50%;
      margin-left: -23px;
      padding-top: 46px;
      position: absolute;
      top: 40%;
      width: 46px; }

@media screen and (min-width: 768px) {
  .node-song .group-left, .node-song .group-right {
    float: left;
    width: 49%; } }
@media screen and (min-width: 768px) {
  .node-song .group-left {
    margin-left: 2%; } }
.node-song .group-left .field-type-text-long {
  font: 0.58333 "Roboto Mono", monospace;
  white-space: pre; }

.node-song .group-song {
  background-color: #ecf0f1;
  margin-bottom: 70px;
  padding: 3%; }
  .node-song .group-song:after {
    content: "";
    display: table;
    clear: both; }
  .node-song .group-song iframe, .node-song .group-song .field-type-file {
    float: left;
    margin-right: 2%;
    position: relative;
    width: 87%; }

.audiojs-default .audiojs {
  height: 75px;
  width: auto; }
  .audiojs-default .audiojs .play-pause {
    width: 36px; }
  .audiojs-default .audiojs .scrubber {
    width: 87%; }
  .audiojs-default .audiojs .time {
    border: none;
    clear: both; }

.audiojs-label {
  bottom: 6px;
  color: #fff;
  font-size: 12px;
  position: absolute;
  right: 10px; }

#spotify-add {
  color: #1a1717;
  float: left;
  font-size: 0.75em;
  line-height: 1.4em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 11%; }
  #spotify-add span {
    border: 1px solid #1a1717;
    display: block;
    font-size: 30px;
    margin-bottom: 5%;
    padding: 19% 0 28%; }
  #spotify-add:hover span {
    background-color: #1a1717;
    color: #fff; }

.node-song .view-display-id-entity_view_3 {
  margin-bottom: 70px; }
  .node-song .view-display-id-entity_view_3 .key-tempo span {
    background-color: #ecf0f1;
    border-bottom: 2px solid #1a1717;
    border-right: 2px solid #1a1717;
    display: block;
    float: left;
    font-size: 2em;
    padding: 2% 0 5%;
    text-align: center;
    text-transform: uppercase;
    width: 32%; }
    .node-song .view-display-id-entity_view_3 .key-tempo span + span {
      border-right: none;
      width: 68%; }
    .node-song .view-display-id-entity_view_3 .key-tempo span h4 {
      font-size: 13px; }
  .node-song .view-display-id-entity_view_3 .theme, .node-song .view-display-id-entity_view_3 .song-info {
    clear: both;
    padding: 5% 9%; }
    .node-song .view-display-id-entity_view_3 .theme div, .node-song .view-display-id-entity_view_3 .song-info div {
      margin: 10px 0; }
      .node-song .view-display-id-entity_view_3 .theme div span, .node-song .view-display-id-entity_view_3 .song-info div span {
        display: inline-block;
        font-size: 12px;
        text-transform: uppercase; }
        @media screen and (min-width: 768px) {
          .node-song .view-display-id-entity_view_3 .theme div span, .node-song .view-display-id-entity_view_3 .song-info div span {
            width: 133px; } }
  .node-song .view-display-id-entity_view_3 .song-info {
    background-color: #3d3738;
    color: #fff; }
    .node-song .view-display-id-entity_view_3 .song-info div {
      font-size: 14px;
      margin: 2px 0; }

.node-song .field-type-link-field {
  float: left;
  margin: 4% 4% 0 0;
  width: 46%; }
  .node-song .field-type-link-field a {
    width: 100%; }

.placeholder #views-exposed-form-songs-page label {
  display: none; }

#views-exposed-form-songs-page .views-exposed-widget {
  padding: 0 10px 0 0; }
  #views-exposed-form-songs-page .views-exposed-widget small {
    display: none; }
#views-exposed-form-songs-page .views-submit-button {
  height: 0;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
  z-index: -10; }

#edit-field-key-tid,
#edit-field-tempo-tid {
  width: 100px; }

#edit-field-theme-tid,
#edit-field-services-tid,
#edit-field-church-tid {
  width: 240px; }

#views-exposed-form-songs-page #edit-title-wrapper {
  margin-bottom: 15px;
  position: relative;
  width: 100%; }
  #views-exposed-form-songs-page #edit-title-wrapper input {
    padding: 2% 3% 2% 5%;
    width: 100%; }
  #views-exposed-form-songs-page #edit-title-wrapper .icon {
    left: 20px;
    position: absolute;
    top: 34px; }
#views-exposed-form-songs-page #edit-field-tempo-tid-wrapper {
  border-right: 2px solid #ecf0f1;
  padding: 0 25px 0 0;
  margin-right: 20px; }

#edit-field-key-tid-wrapper {
  width: 190px; }
  #edit-field-key-tid-wrapper .views-widget > span {
    float: left;
    font-size: 12px;
    margin-right: 20px;
    position: relative;
    top: 12px;
    text-transform: uppercase; }

#edit-field-church-tid-wrapper {
  padding-right: 0; }

/*# sourceMappingURL=screen.css.map */
