/* Essential Worship Specific Styles */

.field-name-field-lyrics-chords textarea {
  font-family: monospace;
}

// Better Messages module
#better-messages-wrapper {
	max-width:270px;
}
@media screen and (min-width: 768px) {
	#better-messages-wrapper {
	    max-width: none;
	}
}

#better-messages-default .close {
	border: none;
	border-radius: 50px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 33px;
	line-height: 1em;
	min-width: 0;
	padding: 0 9px 4px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s;
	background-color: #e44345;
	color: #fff;
	position: absolute;
	right: -18px;
	top: -17px;
}

#better-messages-default .close:hover {
	background-color: #e9696a;
	color: #fff;
}

#better-messages-default .messages-label {
	background-color: rgba(0, 0, 0, 0.78);
	font-size: 14px;
	margin: 0;
	padding:10px;
}

#better-messages-default .messages-label.error {
	background-color: #ec7b7d;
}

#better-messages-default div.messages {
	background: #ecf0f1;
	border:none;
	margin: 0;
	padding: 19px 13px 30px;
}

#better-messages-default .footer {
	border:none;
}

#better-messages-default a.message-close {
	height: 0;
}